<!--Fonts-- > @font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-weight: 400;
  src: url('../fonts/work-sans-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-weight: 700;
  src: url('../fonts/work-sans-v19-latin-700.woff2') format('woff2');
}

:root {
  --color-primary-light: white;
  --color-primary-dark: darkblue;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-primary-dark);
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-image: url('/images/white-cloud-blue-sky.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.flex-header {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.container {
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  max-width: 1288px;
}

.hero-title {
  display: flex;
  text-align: center;
  font-size: 86px;
  color: rgb(54, 150, 105);
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 0;
}

.menu-button {
  width: fit-content;
  height: 54px;
  display: block;
  padding: 10px 24px;
  color: var(--color-primary-dark);
  font-weight: 600;
  font-size: 18px;
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary-dark);
  border-radius: 16px;
  cursor: pointer;

  /*display: flex;
  align-self: flex-end;
  padding: 16px 32px;
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  border-radius: 16px;
  cursor: pointer;
  text-align: center;*/
}

.menu-button:hover {
  background-color: rgb(193, 223, 246);
  font-weight: 600;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.weather {
  color: var(--color-primary-light);
  text-align: center;
}
.weather-item {
  margin: 0 auto;
}
